{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    OIDC Login
{% endblock %}
{% block content %}
    <div class="" id="modalLoginForm"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 400px">
            <form method="post"
                  action="{% url 'auth_login' %}">
                        {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header text-center" style="display: inline;">
                        <h4 class="modal-title w-100">Inicia Sesión con OIDC</h4>
                        <h6>OIDC Provider Python y DJango</h6>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <ion-icon name="ios-person" class="prefix grey-text"></ion-icon>
                            <input class="form-control" type="text" name="username">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Usuario</label>
                        </div>
                        <div class="md-form mb-4">
                            <ion-icon name="ios-key" class="prefix grey-text"></ion-icon>
                            <input class="form-control" type="password" name="password">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Contraseña</label>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                        {% if form.errors %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="wow fadeIn animated alert alert-danger" role="alert">
                                        {% trans "Usuario y contraseña no coinciden." %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <input class="btn btn-info"
                                           type="submit"
                                           value="{% trans 'Ingresar' %}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
