{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block title %}
    OIDC Autorización
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
    <div class="col-lg-6 m-auto">
        <h2 class="mb-2">{% trans 'Solicitud de permisos' %}</h2>
        <p class="lead"><b>{{ client.name }}</b> desea acceder a esta información acerca de tu perfil.</p>
        <form method="post" action="{% url 'oidc_provider:authorize' %}">
            {% csrf_token %}
            {{ hidden_inputs }}
            <ul>
                {% for scope in scopes %}
                <li><strong>{{ scope.name }}</strong> <br><i class="text-muted">{{ scope.description }}</i></li>
                {% endfor %}
            </ul>
            <br>
            <div class="container text-center">
                <input type="submit" class="btn btn-secondary btn-block" value="{% trans 'Declinar' %}" />
                <input type="submit" class="btn btn-primary btn-block" name="allow"  value="{% trans 'Aceptar' %}" />
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
