{% extends 'base.html' %}
{% block title %}
    OIDC Autorización error
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>{{ error }}</h2>
        <p class="lead">{{ description }}</p>
    </div>
</div>

{% endblock %}
